
.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red; 
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green ;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 22px;
    margin-top: 3px;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff007b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d6006d;;
  }

input {
    width: 25%; 
    padding: 6px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  input::placeholder {
    font-size: 0.8em; 
  }
    